body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/* reset */
.slider__footer img {
  max-width: 30px;
}

/* show */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #e5e5e5;
  position: sticky;
  top: 0px;
}
nav ul {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding-left: 20px;
  font-size: 0.8em;
}
nav ul li {
  padding-right: 10px;
}
.left-menu {
  display: flex;
  align-items: center;
}
.left-menu .logo {
  font-weight: bold;
  font-size: 1.5em;
  color: red;
}
.right-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.fa-bell {
  padding-left: 20px;
  font-size: 25px;
}
.menu-profile {
  display: flex;
  padding-left: 20px;
  align-items: center;
}
.search {
  background-color: #070707;
  border: #e5e5e5 1px solid;
  display: flex;
  padding-left: 0px;
  align-items: center;
}
.search i {
  font-size: 25px;
  padding-left: 2.5px;
}
.search input {
  background-color: #070707;
  border: none;
  color: gray;
  padding-left: 10px;
  padding: 10px 10px;
  width: 200px;
}
.fa-caret-down {
  padding-left: 5px;
}
/* home */

/* users */

/* helpers */
.layout {
  background-color: #141414;
  padding: 15px 30px 15px 30px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
/* * {
  border: solid red 1px;
} */
