body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/* reset */
.slider__footer img {
  max-width: 30px;
}

/* navbar */
.logo-nav {
  width: 100px;
  display: block;
}

/* show */

/* home */
.preview {
  padding-left: 30px;
  flex-wrap: wrap;
}

.preview__title {
  font-size: 3em;
}

.preview__info {
  display: flex;
  width: 50%;
}

.preview__info > div {
  margin: 1%;
}

.starts {
  color: rgb(211, 88, 88);
}

.description label {
  color: gray;
}

.description a {
  color: white;
}

.curious {
  padding-left: 10px;
}

.preview__tabs {
  border: none;
  width: 560px;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  margin: auto;
}

.preview__tabs a {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-right: none;
  padding: 15px;
}

.preview__tabs a:last-child {
  color: white;
  border: 2px solid white;
}

.preview__tabs a:hover {
  color: black;
  background: white;
}

.option {
  display: flex;
  justify-content: left;
  padding: 2px 10px;
}

.option > div {
  padding-left: 10px;
}

.curious {
  display: flex;
  margin: 1%;
}

.curious > div {
  padding-left: 10px;
}

/* home */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #e5e5e5;
  position: sticky;
  top: 0px;
  background-color: #141414;
  z-index: 100;
  padding: 0 4%;
}
nav ul {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding-left: 20px;
  font-size: 0.8em;
}
nav ul li {
  padding-right: 10px;
}
.left-menu {
  display: flex;
  align-items: center;
}

.right-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.fa-bell {
  padding-left: 20px;
  font-size: 25px;
}
.menu-profile {
  display: flex;
  padding-left: 20px;
  align-items: center;
}
.search {
  background-color: #070707;
  border: #e5e5e5 1px solid;
  display: flex;
  padding-left: 0px;
  align-items: center;
}
.search i {
  font-size: 25px;
  padding-left: 2.5px;
}
.search input {
  background-color: #070707;
  border: none;
  color: gray;
  padding-left: 10px;
  padding: 10px 10px;
  width: 200px;
}
.fa-caret-down {
  padding-left: 5px;
}
.hero__content {
  position: relative;
  height: calc(0.4 * 100vw);
  background-size: cover;
}
.hero_detail {
  position: absolute;
  bottom: 0;
  padding-bottom: 15px;
  padding-left: 15px;
  width: 30%;
}
.hero_detail p {
  margin: 0px;
}
.logo {
  width: 100%;
}
.logo img {
  width: 100%;
}
.hero_detail_text {
  color: #e5e5e5;
  width: 80%;
  text-transform: capitalize;
  font-size: 0.9em;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
.hero__buttons {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.hero__buttons a {
  display: block;
  padding: 10px 0px 10px 0px;
  background-color: rgba(51, 51, 51, 0.4);
  border-radius: 7.5%;
  text-align: center;
  width: 48%;
  font-size: 0.75em;
  font-weight: bold;
}
/* users */

.html-users {
  background: #141414;
  color: white;
}

.users {
  display: flex;
}

.profile__title {
  text-align: center;
  font-size: 60px;
  letter-spacing: 1.5px;
}

.profile {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
.users__item {
  width: 18%;
  margin: 20px;
  text-align: center;
}

.users__img img {
  width: 100%;
  display: block;
  border: 3px solid rgba(0, 0, 0, 0.12);
  transition: all 0.3s;
}

.users__img:hover img {
  border-color: white;
}

.users__name {
  margin-top: 12px;
  display: block;
  color: gray;
  font-size: 20px;
}

.profile__button {
  color: gray;
  font-size: 20px;
  width: 300px;
  background: transparent;
  margin: 3em 0;
  letter-spacing: 1.5px;
  padding: 8px 20px;
  font-weight: 200;
  outline: none;
  border: 1px solid gray;
}

.profile__button:hover {
  color: #fff;
  border-color: #fff;
}

/* helpers */
.white {
  color: white;
}

.gray {
  color: gray;
}

.margin {
  margin: 1%;
}
.layout {
  background-color: #141414;
  padding: 15px 0px 15px 0px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
