html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: rgb(20, 19, 19);
}
.view {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movie-view {
  width: 95%;
  height: 90%;
  -o-object-fit: cover;
  object-fit: cover;
  align-self: center;
  margin: 5px;
  box-sizing: border-box;
  flex-shrink: 0;
}
.file {
  background-color: rgb(20, 19, 19);
  width: 100vw;
  height: 15vw;
  display: flex;
  flex-direction: row;
  align-items: center; 
  overflow: auto;
  overflow-y: auto;
}
.file::-webkit-scrollbar {
  width: 0 !important
}

.movie {
  width: 320px;
  height: 140px;
  position: relative;
  margin: 5px;
  flex-shrink: 0;
  box-sizing: border-box;
}
.tile__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 5px;
  box-sizing: border-box;
  flex-shrink: 0;
}

.bar{
  background: white;
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.bar1{
 border: 2px solid black;
 width: 50%;
}
.logo{
  border: 2px solid black;
  width: 150px;
  height: 100%;
  background-image: url(/image/cc1a0aaba2c8741d7a456e19c987b0d3.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.bar2{
  border: 2px solid black;
  width: 50%;
}
.option-mayor{
  display: flex;
  flex-direction: row;
}
.options{
  -o-object-fit: cover;
  object-fit: cover;
  margin: 5px;
  box-sizing: border-box;
  flex-shrink: 0;
}